body {
     font-size: 20px;
     margin: 50px;
     margin-left: 90px;
     margin-right: 90px;
     background-image: url("https://wallpaperaccess.com/full/449895.jpg");
}

h2 {
     text-decoration: underline;
}

button {
     background-color: #aae8ff;
     border: none;
     font-size: 17px;
}